.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8432;
    color: white;
    height: 60px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
.menu-btn {
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

  
  .right-section {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
  }
  
  .icon {
    position: relative;
    font-size: 20px;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {
    .menu-btn {
      display: block;
    }
    .right-section {
      gap: 10px;
    }
  }
  